#life-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
  }
  
#life-bar-progress {
    height: 100%;
    background-color: #0f0;
    border-radius: 10px;
    transition: width 0.3s ease;
}
.box{
    min-width: 300px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}
.player{
    
}
